services:
  product-service:
    build: ./product-service
    image: product-service:latest
    container_name: product-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "7002:7002"
    #depends_on:
    # - product-db   DB for later

  product-service-mongodb:
    image: mongo:8
    container_name: product-service-mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: brimbrimpatapim
      MONGO_INITDB_ROOT_PASSWORD: bombardinocrocodilo
    ports:
      - "127.0.0.1:27021:27017"

  review-service:
    build: ./review-service
    image: review-service:latest
    container_name: review-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "7004:7004"

  recommendation-service:
    build: ./recommendation-service
    image: recommendation-service:latest
    container_name: recommendation-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "7003:7003"

  product-composite-service:
    build: ./product-composite-service
    image: product-composite-service:latest
    container_name: product-composite-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "7001:7001"
    depends_on:
      - product-service
      - review-service
      - recommendation-service
