version: "3.9"

services:
  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  mongo-product:
    image: mongo:7
    container_name: mongo-product
    ports:
      - "27019:27017"
    volumes:
      - mongo-product-data:/data/db
  product-service:
    build: ./product-service
    image: product-service:latest
    #container_name: product-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - mongo-product
    #ports:
    #  - "7002:7002"

  mysql-review:
    image: mysql:8.0
    container_name: mysql-review
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=reviews
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql-review-data:/var/lib/mysql

  review-service:
    build: ./review-service
    image: review-service:latest
    #container_name: review-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - MYSQL_DATABASE=reviews
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    #ports:
    #  - "7004:7004"
    depends_on:
      - mysql-review

  mongo-recommendation:
    image: mongo:7
    container_name: mongo-recommendation
    ports:
      - "27018:27017"
    volumes:
      - mongo-recommendation-data:/data/db

  recommendation-service:
    build: ./recommendation-service
    image: recommendation-service:latest
    #container_name: recommendation-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - MARIADB_DATABASE=recommendations
      - MARIADB_USER=${MYSQL_USER}
      - MARIADB_PASSWORD=${MYSQL_PASSWORD}
    depends_on:
      - mongo-recommendation
    #ports:
    #  - "7003:7003"

  product-composite-service:
    build: ./product-composite-service
    image: product-composite-service:latest
    container_name: product-composite-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    ports:
      - "7001:7001"
    depends_on:
      - product-service
      - review-service
      - recommendation-service

volumes:
  mysql-review-data:
  mongo-recommendation-data:
  mongo-product-data:
